parameters:
	ignoreErrors:
		-
			message: '#^Class PrecisionSoft\\Symfony\\Console\\Command\\AbstractCommand has an uninitialized readonly property \$input\. Assign it in the constructor\.$#'
			identifier: property.uninitializedReadonly
			count: 1
			path: src/Command/AbstractCommand.php

		-
			message: '#^Class PrecisionSoft\\Symfony\\Console\\Command\\AbstractCommand has an uninitialized readonly property \$output\. Assign it in the constructor\.$#'
			identifier: property.uninitializedReadonly
			count: 1
			path: src/Command/AbstractCommand.php

		-
			message: '#^Readonly property PrecisionSoft\\Symfony\\Console\\Command\\AbstractCommand\:\:\$input is assigned outside of the constructor\.$#'
			identifier: property.readOnlyAssignNotInConstructor
			count: 1
			path: src/Command/AbstractCommand.php

		-
			message: '#^Readonly property PrecisionSoft\\Symfony\\Console\\Command\\AbstractCommand\:\:\$output is assigned outside of the constructor\.$#'
			identifier: property.readOnlyAssignNotInConstructor
			count: 1
			path: src/Command/AbstractCommand.php

		-
			message: '#^Trait PrecisionSoft\\Symfony\\Console\\Command\\Trait\\InstancesTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Command/Trait/InstancesTrait.php

		-
			message: '#^Trait PrecisionSoft\\Symfony\\Console\\Command\\Trait\\MemoryAndTimeLimitsTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Command/Trait/MemoryAndTimeLimitsTrait.php

		-
			message: '#^Trait PrecisionSoft\\Symfony\\Console\\Command\\Trait\\MemoryLimitTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Command/Trait/MemoryLimitTrait.php

		-
			message: '#^Trait PrecisionSoft\\Symfony\\Console\\Command\\Trait\\TimeLimitTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Command/Trait/TimeLimitTrait.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\|Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\|Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\|Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder\:\:scalarNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#1 \$configInterface of method PrecisionSoft\\Symfony\\Console\\Contract\\TemplateInterface\:\:generate\(\) expects PrecisionSoft\\Symfony\\Console\\Dto\\Cronjob\\ConfigDto\|PrecisionSoft\\Symfony\\Console\\Dto\\Worker\\ConfigDto, PrecisionSoft\\Symfony\\Console\\Contract\\ConfigInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/ConfGenerate/ConfGenerateService.php

		-
			message: '#^Strict comparison using === between null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Service/AttributeService.php

		-
			message: '#^Strict comparison using === between null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Template/KubernetesCronjobTemplate.php

		-
			message: '#^Strict comparison using === between false and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Service/MemoryService.php


